@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
body.light {
    --img-bg: url("bg-desktop-light.jpeg");
    --clr-primary: hsl(243, 12%, 30%);
    --clr-page-bg: hsl(0, 0%, 98%);
    --clr-card-bg: hsl(0, 0%, 100%);
    --clr-gb-1: hsl(240, 8%, 24%);
    --clr-gb-2: hsl(243, 12%, 30%);
    --clr-gb-3: hsl(252, 6%, 83%);
    --clr-gb-4: hsl(237, 10%, 64%);
    --clr-gb-5: hsl(252, 9%, 73%);
    --clr-gb-6: hsl(252, 21%, 94%);
  }
body{

    background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    width: 100%;
} 

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1 , h2 , h3 {
    color: white;
}


#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 3px solid  darkgray;
    border-radius: 20px;
    padding: 1rem 1.4rem 1rem 2rem;
    text-align: center;
  }



  .container {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 2rem;
  }


#pouns{
  
    border:3px solid    darkgray;
    position: absolute;

    color: #fff;
    background: linear-gradient(to left, transparent 50%, hsla(0, 0%, 100%, 0.575) 50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position .3s ease-out, color .3s ease-out;
    text-transform: uppercase;
    margin-bottom: 40%;
    margin-left:20% ;
    margin-top: 7%;
    margin-right:10%;


 }

#pouns:hover {
    background-position: left bottom;
    color: hsl(214, 47%, 23%);
}
img{
    width:200px;
    height: 150px;
    
}
button{
    margin:auto;
}


#player1{
    
    border: 3px solid    darkgray;
   
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to left, transparent 50%, hsla(0, 0%, 100%, 0.575)  50%);
    background-size: 250% 100%;
    background-position: right bottom;
    transition: background-position .3s ease-out, color .3s ease-out;
    text-transform: uppercase;
    border-radius:2%;
    margin-left:25% ;
    margin-top: 7%;
   
 }

#player1:hover {
    background-position: left bottom;
    color: hsl(214, 47%, 23%);
}